# Core Verification

Deprecated, please see [light-client/verification](https://github.com/airchains-network/wasmbft/blob/v0.38.x/spec/light-client/verification).
